html {
  min-height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #EFFAFA;
  font-family: 'Spartan', sans-serif;
  color: #4A4B5E;
  margin: 0;
}

header {
  background: url("./static-job-listings-master/images/bg-header-desktop.svg") center center no-repeat;
  background-color: #5da5a4;
  width: 100vw;
  height: 20vh;
  display: flex;
  background-size: cover;
  align-items: baseline;
  justify-content: space-evenly;
}

.job-listings {
  display: flex;
  align-items: center;
  justify-content: center;
}

.job-listing {
  background-color: #ffffff;
}
