html {
  min-height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #EFFAFA;
  font-family: 'Spartan', sans-serif;
  color: #4A4B5E;
  margin: 0;
}

header {
  background: url("./static-job-listings-master/images/bg-header-desktop.svg") center center no-repeat;
  background-color: #5da5a4;
  width: 100vw;
  height: 20vh;
  display: flex;
  background-size: cover;
  align-items: baseline;
  justify-content: space-evenly;
}

.job-listings {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5rem 0 5rem 0;
}

.job-listing {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 70vw;
  height: 10vh;
  background-color: #ffffff;
  padding: 2rem;
  margin: 0 0 1.5rem 0;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  &--hidden {
    display: none;
  }

  &--border {
    border-left: 5px solid #5da5a4;
  }

  &__image {
    padding: 0 1.5rem 0 0;
  }

  &__left-column {
    display: flex;
    align-items: center; 
  }

  &__labels {
    list-style-type: none;
    padding: 0;
  }

  &__label {
    display: inline-block;
    font-size: 0.85rem;
    margin: 0 10px 0 0;

    &--company {
      color: #5BA4A4;
      font-weight: bold;
    }

    &--new {
      color: #ffffff;
      background-color: #5BA4A4;
      border-radius: 15px;
      padding: 3px 8px;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 0.7rem;
    }

    &--featured {
      color: #ffffff;
      background-color: #4A4B5E;
      border-radius: 15px;
      padding: 3px 8px;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 0.7rem;
    }
  }

  &__title {
    font-weight: bold;
    font-size: 1.1rem;
  }

  &__detail-list {
    list-style-type: none;
    padding: 0;
  }

  &__detail {
    display: inline-block;
    color: #7B8E8E;
    font-size: 0.9rem;

    &:not(:last-child)::after {
      content:"\2022";
      padding: 0 10px;
    }
  }

  &__skill-list {
    list-style-type: none;
    display: flex;
  }

  &__skill {
    display: inline-block;
    background-color: #EEF6F6;
    color: #5BA4A4;
    font-size: 0.85rem;
    padding: 7px;
    margin: 0 5px;
    font-weight: bold;
  }

}